*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: #202020 ;
}

.container{
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    width: 100%;
    background: #101010;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.avatar{
    width: 180px;
    height: 180px;
    border-radius: 200px;
}

.containerSobre{ /*Display obrigatorio aqui*/
    display: flex; 
}

.sobre{ /*Display obrigatorio aqui. Ele faz com que o Sobre e o nome fiquem um uma coluna e nao uma linha*/
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: 32px;
}

.nome{
    color: #FF406D;
    font-size: 28px;
    font-weight: bolder;
}

.sobreTitulo{
    color: #FF003C;
    font-weight: bolder;
}

.containerDescricao{
    padding-top: 12px;
}

.descricao{
    line-height: 18px;
    color: #AFAFAF;
}
