.headerContainer {
    background: linear-gradient(180deg, hsla(326, 72%, 11%, 1) 0%, hsla(345, 73%, 18%, 1) 33.333333333333336%, hsla(353, 75%, 24%, 1) 66.66666666666667%, hsla(353, 53%, 31%, 1) 100%);
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.headerTitle {
    color: #fff;
    font-size: 4rem;
}

.headerImage {
    height: 30%;
    width: 30%;
}

@media(max-width: 765px) {
    .headerImage {
      width: 100%;
    }
  }